section#about.about.content__about
	h2.subtitle.about__subtitle Subtitle
	p.text.about__text
		|Lorem ipsum dolor sit amet consectetur adipisicing elit.
		|Perferendis consectetur error modi suscipit excepturi corporis illum!
		|At eaque voluptatem fugiat, doloremque voluptates autem ratione quas iusto impedit accusantium illo porro?
		|Optio repudiandae vel eligendi aliquid dolorem quaerat voluptatem, aut labore soluta quod ea!