section.collection-season
	.collection-season__block
		h2.subtitle Сезон 2020/21
		.collection-season__wrap
			.cards__row
				.caeds__column
					img(src="./img/wrist-watch.png", alt="writsh-watch").cards__img
					.cards__description.cards__description_title
					.cards__description.cards__description_price