section.collection-season
	.collection-season__season
		.collection-season__title-wrap
			h2.title.collection-season__title.title_mid.title_decor_line Сезон 2020/21
		.collection-season__wrap
			.cards__row
				.cards__column
					.cards__substrate-img
						img(src="./img/wrist-watch.png", alt="writsh-watch").cards__img
					.cards__description-wrap
						h4.cards__description.cards__description_title Louis XVI ATHOS
						p.cards__description.cards__description_price 165 000 руб.
				.cards__column
					.cards__substrate-img
						img(src="./img/wrist-watch.png", alt="writsh-watch").cards__img
					.cards__description-wrap
						h4.cards__description.cards__description_title Louis XVI ATHOS
						p.cards__description.cards__description_price 165 000 руб.
				.cards__column
					.cards__substrate-img
						img(src="./img/wrist-watch.png", alt="writsh-watch").cards__img
					.cards__description-wrap
						h4.cards__description.cards__description_title Louis XVI ATHOS
						p.cards__description.cards__description_price 165 000 руб.
	.collection-season__collection
		h2.title.title_mid Новая коллекция
		.collection-season__btn Каталог