section.main-banner.content__main-banner
	.main-banner__block
		.main-banner__wrap
			h1.title.title_large.title_line.title_line_logo.main-banner__title Porten
			h3.subtitle Санкт-Петербург
	p.main-banner__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Purus interdum purus, est tortor pulvinar ut in. Fringilla a diam enim sed justo, sed iaculis sagittis. Tortor id eu interdum nec ut iaculis. Penatibus ullamcorper ultricies morbi ipsum sem metus pharetra, mi. Tortor nibh magna feugiat id nunc, dui nisl viverra.

