.body {
	position: relative;
	display: flex; // для прижатого к низу футера
	flex-direction: column; // для прижатого к низу футера
	min-height: 100vh; // для прижатого к низу футера
	max-width: 100vw;
	overflow-x: hidden;
	color: $colorTextMain;
	font-family: $ffMain;
	font-size: $fzMain;
	line-height: $lhMain;
}

.content {
	flex: 1 1 auto; // для прижатого к низу футера

	&__main-banner {
		padding-top: 160px;

		@media (max-width: 567px) {
			padding-top: 80px;
		}
	}
}

._container {
	width: 100%;
	max-width: 1130px; // 1110px + padding
	margin: 0 auto;
	padding: 0 10px;
}

_.ibg {
	position: relative;

	img {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
	}
}

.title {
	font-family: 'PostNoBillsJaffna-Bold';

	color: $colorTextMain;
	text-align: center;
	font-size: 36px;
	font-weight: 700;
	text-transform: uppercase;

	@media (max-width: 767px) {
		font-size: 30px;
	}

	&_large {
		font-size: 64px;

		@media (max-width: 567px) {
			font-size: 44px;
		}
	}

	&_decor_line {
		&::after {
			content: '';
			display: block;
			width: 100%;
			height: 1px;
			background-color: #fff;
		}
	}
}

.subtitle {
	font-size: 22px;
	font-weight: 400;
	text-transform: uppercase;

	@media (max-width: 567px) {
		font-size: 18px;
	}
}
