*,
*::after,
*::before {
	box-sizing: border-box;
}

body,
ul,
ol,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

ul,
ol,
button {
	padding: 0;
}

li {
	list-style-type: none;
}

a,
button {
	cursor: pointer;
}

a {
	text-decoration: none;
	color: inherit;
}

button,
input,
textarea {
	border: 0;
	outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

img {
	vertical-align: top; // убираем возможные артефакты у изображений снизу
}

html {
	height: 100%; // для прижатого к низу футера
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
button,
input,
textarea,
a {
	line-height: 1;
}
