// common variables
// $widthContent: 980px;
$fzMain: 16px;
$lhMain: 1;
$ffMain: "PT Sans";

// -- Group colors -- //
//colors text
$colorTextMain: #fff; // Если цвет преобладает в разных элементах сайта, то используем эту переменную глобально
$colorTextHeader: #969696;
$colorTextFooter: #d0d0d0;
// $colorTitle: black;
// $colorSubtitle: grey;
// $colorText: orange;
// $colorLinkNav: blue;
// $colorTextBtn: green;
// $colorTextBtnDark: violet;

//colors background
// $colorBg: white;

//colors border
// $colorBorder: red;
