.header {
	background-color: #000;

	&__row,
	&__block {
		display: flex;
	}

	&__row {
		height: 44px;
		justify-content: space-around
	}

	&__block {
		height: 100%;
		align-items: center;
		justify-content: center;
	}
}
