block variables

doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible" content="ie=edge")
		link(href="https://fonts.googleapis.com/css?family=PT+Sans:regular&display=swap&subset=cyrillic-ext" rel="stylesheet")
		link(href="https://fonts.googleapis.com/css?family=Playfair+Display:regular,700&display=swap&subset=cyrillic-ext" rel="stylesheet")
		title= pageTitle
		block styles
	body.body
		block header
		main.content.body__content
			h1.title Porten
			block content
		block footer
		block scripts