*,
*::after,
*::before
{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body,
ul,
ol,
p,
h1,
h2,
h3,
h4,
h5,
h6
{
    margin: 0;
}

ul,
ol,
button
{
    padding: 0;
}

li
{
    list-style-type: none;
}

a,
button
{
    cursor: pointer;
}

a
{
    text-decoration: none;
}

button,
input,
textarea
{
    border: 0;
    outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6
{
    font-size: inherit; 
    font-weight: inherit;
}

img
{
    vertical-align: top;
}

html
{
    height: 100%;
}

/* roboto-regular - latin */
@font-face
{
    font-family: 'Roboto';
    font-weight: 400;
    font-style: normal;

    src: local('Roboto'), local('Roboto-Regular'), url('../fonts/roboto-v20-latin-regular.woff2') format('woff2'), url('../fonts/roboto/roboto-v20-latin-regular.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-700 - latin */
@font-face
{
    font-family: 'Roboto';
    font-weight: 700;
    font-style: normal;

    src: local('Roboto Bold'), local('Roboto-Bold'), url('../fonts/roboto-v20-latin-700.woff2') format('woff2'), url('../fonts/roboto-v20-latin-700.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

.header
{
    background-color: #000;
}
.header__row,
.header__block
{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
}
.header__row
{
    height: 44px;

    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
            justify-content: space-around;
}
.header__block
{
    height: 100%;

    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
            justify-content: center;
}

.body
{
    position: relative;

    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
    overflow-x: hidden;
            flex-direction: column;

    max-width: 100vw;
    min-height: 100vh;

    color: #fff; 

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
}

.content
{
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
}

.about__subtitle
{
    margin-bottom: 40px;
}

.about__text
{
    margin: 0 auto;
}

.footer
{
    height: 50px; 

    background-color: #0f0f0f;
}
