// woff2 for - Chrome 26+, Opera 23+, Firefox 39+
// woff for - Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+

/* Post-No-Bills-Jaffna - Bold */
@font-face {
	font-family: 'PostNoBillsJaffna-Bold';
	font-style: normal;
	font-weight: 700;
	src: url('../fonts/PostNoBillsJaffna-Bold.woff2') format('woff2'),
		url('../fonts/roboto/PostNoBillsJaffna-Bold.woff') format('woff');
}
