header.header

	.header__row-top
		.header__row._container
			.header__block.header__block_timetable
				p.header__text.header__line.header__icon.header__icon_call 8 (812) 123-45-67
				p.header__text.header__line Работаем 7 дней в неделю
				p.header__text 9:00 — 18:00
			.header__block.header__block_auth-reg
				p.header__text.header__text_hover.header__icon.header__icon_enter Войти
				p.header__text.header__text_hover.header__slash Регистрация

	.header__row-bottom
		.header__row._container
			h1.header__logo.title Porten
			nav.user-nav
				ul.user-nav__list
					li.user-nav__item
						a.user-nav__link(href="#") Понравилось
					li.user-nav__item
						a.user-nav__link(href="#") Личный кабинет
					li.user-nav__item
						a.user-nav__link(href="#") Настройки
				ul.user-nav__list
					li.user-nav__item
						a.user-nav__link.user-nav__link_icon.header__icon.header__icon_basket(href="#")
					li.user-nav__item
						a.user-nav__link.user-nav__link_icon.header__icon.header__icon_search(href="#")