header.header.body__header
	.burger
		.burger__line
	nav.menu
		ul.menu__list
			li.menu__item
				a(href="index.html").menu__link link 1
			li.menu__item
				a(href="#about").menu__link link 2

	button(type='button').header__btn Button
