header.header.body__header
	._container
		.header__row
			.header__block.header__block_timetable
				p.header__text.text_icon 8 (812) 123-45-67
				p.header__text Работаем 7 дней в неделю
				p.header__text 9:00 — 18:00
			.header__block.header__block_reg
				p.header__text Войти /
				p.header__text Регистрация
		.header__row